body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8fdfd;
}

header img{
    min-height: 500px;
    position: absolute;
}

.navbar-brand img {
    width: 3rem;
}

.portafolio {
    background-color: #00CDC8;
}

div .portafolio {
    position: relative;
    z-index: 3;
    padding: 3rem;
    width: 30rem;
}

@media (max-width: 576px) {
    header {
        min-height: 700px;

    }
    h1 {
        font-size: 2rem;
    }

    div .portafolio {
        margin: auto;
        margin-top: 28rem;
        padding: 1.5rem;
        max-width: 100%;
    }
}