body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F5F5;
}

header {
    max-height: 550px;
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
}

h2 {
    font-weight: 300;
    font-size: 3.5rem;
}

i{
    color: #ffffff;
    text-decoration: none;
}

.portafolio {
    background: #F56386;
}

.navbar-brand img {
    width: 3rem;
}

.card button {
    border: 1px solid #F56386;
    color: #F56386;
}


@media (max-width: 576px){
    header {
        max-height: 720px;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

